#footer-id {
  min-height: 15%;
  background-color: #990000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;

  .footer-head {
    flex-basis: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-txt {
      color: #fff;
      font-family: "Inter";
      font-size: 20px;
    }
  }

  .social-icons {
    flex-basis: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    .fa-brands {
      color: #fff;
      font-size: 30px;
    }
  }

  .footer-end {
    flex-basis: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-end-txt {
      color: #fff;
      font-family: "Inter";
      font-size: 20px;
      margin: 20px 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #footer-id {
    /* Styles for screens smaller than 768px */
    min-height: 5%;
    font-size: 50%; 

    

    .social-icons .fa-brands {
      font-size: 24px; 
    }

    
  }
}
